
.row{
	margin-bottom: 0px !important;
}

nav{
	background-color: #F54828 !important;
}

.brand-logo{
	font-color: #FFFFFF;
}

.nav-fas{
	margin: 0px 15px; 
}

ul.left, ul.right{
	padding: 0px 50px;
}

#logo{
	height: 62px;
	width: 123px;
}

ul.right{
	height: 100% !important;
	width: auto;
}

ul li a.btn{
	background-color: #FFFFFF;
	color: #F54828;
}
ul li a.btn:hover {
  background-color: #F7803C;
  color: #FFFFFF;
}
ul li a.btn:active{
  background-color: #F7803C;
  color: #FFFFFF;
}
ul li a.btn:focus{
  background-color: #F7803C;
  color: #FFFFFF;
}

ul.sidenav li a{
	font-size: 18px !important;
	margin: 15px auto;
}

ul.sidenav li a.btn{
	background-color: #F54828;
	color: #FFFFFF;
}
ul.sidenav li a.btn:hover{
  background-color: #F7803C;
  color: #FFFFFF;
}
ul.sidenav li a.btn:active{
  background-color: #F7803C;
  color: #FFFFFF;
}
ul.sidenav li a.btn:focus{
  background-color: #F7803C;
  color: #FFFFFF;
}

.orange-text{
	color: #F54828 !important;
}